<% provide(:title, "Edit") %>
<% provide(:h1, "プロフィール変更") %>

<%= render 'shared/user_error' %>

<% if logged_in? %>
  <%= form_for(:user, url: "/users/update", method: :patch, :html => {:class => 'form'}) do |f| %>
    <div>
      <%= f.label :name, "名前" %>
    </div>
    <div>
      <%= f.text_field :name, value: current_user.name %>
    </div>
    <div>
      <%= f.label :password, "新パスワード" %>
    </div>
    <div>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation, "新パスワード確認入力" %>
    </div>
    <div>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "プロフィール変更" %>
  <% end %>
<% end %>