<% provide(:title, "Sign up") %>
<% provide(:h1, "アカウント作成") %>

<%= render 'shared/user_error' %>

<%= form_for(@user, url: '/signup') do |f| %>
  <div>
    <%= f.label :name, "名前" %>
  </div>
  <div>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :password, "パスワード" %>
  </div>
  <div>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "パスワード確認入力" %>
  </div>
  <div>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "アカウント作成" %>
<% end %>