<% provide(:title, @user.name) %>
<% provide(:h1, @user.name) %>

<% if logged_in? && current_user.admin %>
  ユーザー数：<%= @all_user %><br>
  アプリ数：<%= @all_app %><br>
  総リプライ数：<%= @all_reply %>
<% else %>
  <table>
    <tr class="first-tr">
      <td>アプリ名</td>
      <td>リプライ数</td>
    </tr>
    <% @app.each do |app| %>
      <tr>
        <td><%= link_to app.title, "/apps/#{app.id}" %></td>
        <td><%= app.views %></td>
      </tr>
    <% end %>
  </table>
<% end %>