<div class="header">
  <div class="header-left">
    <%= link_to "全アプリ", "/apps" %>
    <% if logged_in? %>
      <%= link_to "投稿", "/apps/new" %>
    <% end %>
  </div>

  <div class="header-right">
    <% if logged_in? %>
      <%= link_to "My Page", "/users/#{current_user.id}" %>
      <%= link_to "プロフィール変更", "/users/edit" %>
      <%= link_to "ログアウト", "/logout", method: :delete %>
    <% else %>
      <%= link_to "ログイン", "/login" %>
      <%= link_to "登録", "/signup" %>
    <% end %>
  </div>
</div>