<% provide(:title, @app.title) %>

<h1><%= link_to @app.title, @app.url, target: "_blank" %></h1>

<div class="all">
    made by <span class="strong"><%= link_to User.find(@app.user_id).name, "/users/#{User.find(@app.user_id).id}" %></span>

    <% if logged_in? && @app.user_id == current_user.id %>
      <%= link_to "[編集]", "/apps/#{@app.id}/edit" %>
      <%= link_to "[削除]", "/apps/destroy/#{@app.id}", method: :delete, data: { confirm: "本当に削除しますか" } %>
    <% end %>
    <br>

    <div class="title">説明</div>
  <div class="exp">
    <%= @app.exp %>
  </div>

  <div class="reply">
    <div class="title">
      コメント

      <% if logged_in? %>
        <%= link_to "[Send Reply]", "/send_reply/#{@app.id}" %>
      <% end %>
    </div>

    <div class="exp">
      <% @reply.each do |reply| %>
        <div>
          <div class="name"><%= reply.user_name %></div>
          
          <% if logged_in? && reply.user_name == current_user.name %>
            <%= link_to "[DELETE]", "/replies/destroy/#{reply.id}", method: :patch, data: { confirm: "本当に削除しますか" } %>
          <% end %>
          
          <br>

          <%= reply.content %>
        </div>
      <% end %>
    </div>
  </div>
</div>
