<% provide(:title, @app.title) %>

<h1><%= link_to @app.title, @app.url, target: "_blank" %></h1>
made by <%= User.find(@app.user_id).name %>

<% if logged_in? %>
  <%= link_to "[編集]", "/apps/#{@app.id}/edit" %>
  <%= link_to "[削除]", "/apps/destroy/#{@app.id}", method: :delete, data: { confirm: "本当に削除しますか" } %>
<% end %>

<div>
  説明：<%= @app.exp %>
</div>

<div>
  <% if logged_in? %>
    <%= link_to "[Send Reply]", "/send_reply/#{@app.id}" %>
    <% end %>
</div>

<div>コメント</div>

<% @reply.each do |reply| %>
  <div>
    <%= reply.user_name %><br>
    <%= reply.content %>

    <% if logged_in? && reply.user_name == current_user.name %>
      <%= link_to "[DELETE]", "/replies/destroy/#{reply.id}", method: :patch, data: { confirm: "本当に削除しますか" } %>
    <% end %>
  </div>
<% end %>